.link {
    color: white;
    text-decoration: none;
    transition: background-color .2s, color .2s;
}

.link:hover{
    color: black;
    background-color: white;
}

#menu a.active {
    color: black;
    background-color: white;
}

.link-container {
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 992px) {
    .link {
        font-size: x-large;
    }
    .link-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.btn-close {
    filter: invert(100%);
}