.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.opensans {
    font-family: 'Open Sans', sans-serif;

}

.titillium {
    font-family: 'Titillium Web', sans-serif;
}

/* Media Queries */


@media only screen and (max-width: 992px) {
    .responsive-block {
        display: block!important;
    }

    .responsive-w100{
        width: 100%!important;
    }

    .res-p{
        padding-left: 1em!important;
        padding-right: 1em!important;
    }

    
}

/* Colors */

.bg-light {
    background-color: #edf4ff;
}

.bg-darker {
    background: #171717;
}

.bg-darkAlt {
    background-color: #050610!important;
}

.txt-lightAlt {
    color: #b5c4bd;
}

.txt-lightAltHeader {
    color: #748ec0;
}

.contact-icon {
    width: 2.5rem;
    margin-left: .2rem;
    margin-right: .2rem;
    filter: invert(1);
}